@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar { 
  width: 5px; 
  height: 18px;
} 

/* Track */
::-webkit-scrollbar-track { 
  background: #888; 
  border-radius: 5px; 
} 

/* Handle */
::-webkit-scrollbar-thumb { 
  background:rgb(0, 0,0,0.5); 
  border-radius: 5px; 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
  background: #555; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  background-image: url('https://images.unsplash.com/photo-1511300636408-a63a89df3482?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  width: 100%;
  height: 100%;
  color: black;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



#app {
  max-width: 1920px;
  max-height: 1080px;
  padding: 2rem;
  text-align: center;
}


